FLAK_IMAGE_MODE=build
FLAK_IMAGE_TAG=local
POSTGRES_DB=flak_platform
POSTGRES_USER=flak_app
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_HOST_PORT=5432
MANAGEMENT_WEB_HOST_PORT=5100
MANAGEMENT_API_HOST_PORT=5101
IDENTITY_API_HOST_PORT=5102
ASPNETCORE_ENVIRONMENT=Production
PLATFORM_MODE=Production
