FLAK_IMAGE_MODE=build
FLAK_IMAGE_TAG=local
VALKEY_HOST=valkey
VALKEY_PORT=6379
VALKEY_PASSWORD=CHANGE_ME_STRONG_PASSWORD
CACHE_API_HOST_PORT=5201
ASPNETCORE_ENVIRONMENT=Production
PLATFORM_MODE=Production
